.plant-top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #75b79e;
    height: 80px;
    margin: 0px;
    margin-top: 0px;
    color: #fff;
  }

.plantname-area{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    width: 80%;
    max-width: 600px;
    height: auto;
    background-color: dimgrey;
    color: #fff;
  }

  .plantname-change{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    width: 80%;
    max-width: 600px;
    height: auto;
    background-color: dimgrey;
    color: #fff;
    text-align: center;
  }

  #submit-name {
      background: transparent;
      border: 0px;
      color: #75b79e;
  }

.rename {
}

.plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 600px;
    height: 40vw;
    max-height: 600px;
    background: #347474;
    color: #fff;
  }

  .plant-stats{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    height: auto;
    text-align: center;
    background-color: gainsboro;
  }