@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-Light.woff2') format('woff2'),
        url('/fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/fonts/OpenSans-Light.woff2') format('woff2'),
        url('/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

html{
  height: 100%;
}

body {
background-color: whitesmoke;
font-family: 'Open Sans';
height: 100%;
}

p {
  font-size: 12pt;
  font-family:'Open Sans Light';
}

.top-banner {
  background-color: #75b79e;
  height: 80px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
}

.navbar-brand{
  font-family: 'Quicksand';
}

.login-info {
  font-family: 'Quicksand';
  font-size: 12pt;
  color: #347474;
  position: relative;

}

.login-info a:link {
  color: #347474;
}

.login-info a:hover{
  color: #75b79e;
  text-decoration: none;
}

.content {
  font-family: 'Open Sans';
  color: dimgrey;
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
}

.petname{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: dimgrey;
  color: #fff;
}

.pet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
  height: auto;
}

.stats{
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  max-width: 600px;
  height: auto;
  text-align: center;
  background-color: gainsboro;
}

.inventory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  max-width: 500px;
  height: auto;
}
